.intro {
    max-width: 690px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    margin: 92px 0 0 100px;
}


@media (max-width: 1024px) {
    .intro {
        width: calc(100% - 96px);
        margin: 92px 0 0 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        width: calc(100% - 48px);
        margin: 88px 0 0 24px;
    }
}

@media (max-width: 425px) {
    .intro {
        width: calc(100% - 32px);
        margin: 64px auto 0;
    }
}