.lead__subtitle {
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    margin: 32px auto 64px;
    align-self: center;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 425px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
        margin: 16px 0 40px 0;
    }
}